html, body, .app {
    background: #141414;
    color:white;
} 

.movie-list > .row {
    flex-wrap: nowrap;
    overflow-x:auto
}

div.movie {
    /* border: 1px solid red; */
    width:fit-content;
    max-width:200px; /*Ensures that no image will excess this height*/
    position:relative;
    padding:0;
    margin: 20px 10px;
    transition: transform 1s ease;
}

div.movie:hover {
    transform: scale(1.1);

}

.movie img {
    width:100%;
    height:100%;
    object-fit: cover;
    
}

.overlay {
    position:absolute;
    bottom: 0;
    width:100%;
    text-align: center;
    padding:5px 0;
    background-color: rgba(0, 0, 0, 0.699);
    opacity:0;
    cursor: pointer;
}

div.movie:hover .overlay {
    opacity: 1;
}