html, body, .app {
    background: #141414;
    color:white;
} 

.movie-list > .row {
    flex-wrap: nowrap;
    overflow-x:auto
}

div.movie {
    border: 1px solid red;
    width:fit-content;
    max-width:200px; /*Ensures that no image will excess this height*/
}

.movie img {
    width:100%;
    height:100%;
    object-fit: cover;
}